<!DOCTYPE html>
<html lang="en">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Usuarios</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">Metafy</a>
            <ul class="left hide-on-med-and-down">
                <li><a href="/" class="waves-effect waves-light btn"><i class="material-icons left">chevron_left</i>
                        Home</a></li>
                <li><a href="/api/users/usuarios" class="waves-effect waves-light btn"><i
                            class="material-icons left">account_circle</i>Listar usuarios</a><br></li>
                <li><a href="/api/goals/listar" class="waves-effect waves-light btn"><i
                            class="material-icons left">account_balance_wallet</i>Listar Metas</a></li>
            </ul>
        </div>
    </nav>


    <h3 class="center-align">Lista de Usuários</h3>

    <table class="striped centered highlight responsive-table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cpf</th>
                <th>Email</th>
                <th>Sexo</th>
                <th>Data de Criação</th>
                <th>Atualizar</th>
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${userPage.content}">
                <td><span th:text="${user.name}"></span></td>
                <td><span th:text="${user.cpf}"></span></td>
                <td><span th:text="${user.email}"></span></td>
                <td><span th:text="${user.sexo}"></span></td>
                <td><span th:text="${user.creationDate}"></span></td>
                <td>
                    <!-- Formulário para atualizar usuário -->
                    <form th:action="@{/api/users/atualizarUsuario/{id}(id=${user.id})}" method="post">
                        <button type="submit" class="waves-effect waves-light btn">Atualizar</button>
                    </form>
                </td>
                <td>
                    <!-- Formulário para deletar usuário -->
                    <form th:action="@{/api/users/deletarUsuario/{id}(id=${user.id})}" method="post"
                        onsubmit="return confirm('Você tem certeza que deseja deletar este usuário?');">
                        <input type="hidden" name="_method" value="delete"> <!-- Para simular DELETE -->
                        <button type="submit" class="waves-effect waves-light btn">Deletar</button>
                    </form>
                </td>

            </tr>
        </tbody>
    </table>
    <!-- Paginação -->
    <ul class="pagination">
        <div>
            <li class="active">
                <span th:if="${userPage.hasPrevious()}">
                    <a th:href="@{/api/users/usuarios(page=${userPage.number - 1}, size=${userPage.size})}">Página
                        Anterior</a>
                </span>
            </li>
            <li class="active">
                <span th:if="${userPage.hasNext()}">
                    <a th:href="@{/api/users/usuarios(page=${userPage.number + 1}, size=${userPage.size})}">Próxima
                        Página</a>
                </span>
            </li>
        </div>
    </ul>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>

</html>