/* index.css */
:root {
  --background-light: #f4f4f4;
  --text-light: #000;
  --background-dark: #1a1a1a;
  --text-dark: #fff;
}

/* Aplica os estilos dependendo do tema */
body[data-theme="light"] {
  background-color: var(--background-light);
  color: var(--text-light);
}

body[data-theme="dark"] {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

/* Navbar */
.navbar {
  transition: background-color 0.3s ease-in-out;
}

.navbar.bg-light {
  background-color: #f8f9fa !important;
  color: #000;
}

.navbar.bg-dark {
  background-color: #343a40 !important;
  color: #fff;
}
